@()

@main("Welcome to Play") {

    <table id="search" class="table">
        <tr>
            <td><label for="key">Search By Author Name</label></td>
            <td><input type="text" id="key" name="key"></td>
            <td><button class="btn btn-primary" id="searchBtn">Search</button></td>
        </tr>
    </table>

    <table id="books" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th data-column-id="id">ID</th>
            <th data-column-id="title">Title</th>
            <th data-column-id="author">Author</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <br/>
    <br/>
    <form id="bookForm" method="POST" action="@routes.BookController.addBook()">
        <table class="table">
            <tr>
                <td><label for="isbnNo">ISBN No.</label></td>
                <td><input type="text" id="isbnNo" name="isbnNo" maxlength="13"></td>
            </tr>
            <tr>
                <td><label for="title">Title</label></td>
                <td><input type="text" id="title" name="title"></td>
            </tr>
            <tr>
                <td><label for="author">Author</label></td>
                <td><input type="text" id="author" name="author"></td>
            </tr>
        </table>
        <input type="hidden" id="id" name="id"/>

        <div>
            <button id="submitBtn" class="btn btn-primary">Add Book</button>
        </div>
    </form>
    <div>
        <button id="editBtn" class="btn btn-primary" style="display: none;">Edit Book</button>
    </div>
}
